/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    font-family: "averta cy w10";
    background-color: var(--body-color);
    color: var(--fg-color);
    width: 100%;
    height: 100vh;
    position: relative;

}

img{
    z-index: -1;
}




:root{
    --body-color:#080809;
    --fg-color:#fff;
    --blue-color:#a1c4fd;
    --grey-color:#b7b7bc;
}

*::selection {
    background-color: var(--blue-color);
    color: white;
  }

.max{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    
  position: relative;
}


.main-wrapper{
    height: 100%;
    width: 100%;
}

#home-section{  
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.home-container{
    display: flex;
    flex-direction: column;
    gap: 180px;
    position: relative;
}

.round-img{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50% , -50%);
    max-width: 64%;
    
}   





.home-container  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    padding: 26px 0;
    
   
}

nav .logo{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--blue-color);
}


nav i{
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--grey-color);
    cursor: pointer;
}

nav i:hover{
   color: var(--blue-color);
   
}


.heading{
    display: flex;
    gap: 20px;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    position: relative;
    
}

.heading h1{
    color: transparent;
  -webkit-text-stroke: 1px #ffffffe7;
  font-size: 7.8vw;
  letter-spacing: -8px;
  font-weight: 900;
  line-height: 1;
  text-shadow: 5px 5px 50px rgba(44, 185, 255, 0.137);
}

.main-heading.active h1{
    /* color: red; */
    /* font-size: 200px; */
    -webkit-text-stroke: 1px #1a1616e7;
}



.main-heading.active h1:hover{
    -webkit-text-stroke: 1px #1a1616e7;
    color: black;
}



.heading h1:hover{
    color: white;
}





.home-container-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */


}


.glow-image{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
}


.hello-text{
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--grey-color);
}



.hello-text.active{
    color: #080809;
}

.fronted-text{
    font-size: 1.4rem;
    font-weight: 400;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    border-radius: 30px;
    color: #080809;
    padding: 5px 20px;
    margin-top: 8px;
}

.social-link-contaier{
    background-color: #14171b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    /* min-height: 100px; */
    margin-top: -120px;
    gap: 5px;
    padding: 8px 8px;
    border-radius: 10px;
}


.social-link-contaier i{
    margin-block: 5px;
    font-size: 1.3rem;
    color: #a1c4fd;
    cursor: pointer;
}


.social-link-contaier i:hover{
    box-shadow: 0px 0px 50px #95bdfc;  
}



.circle-down{
    color: var(--grey-color);
    position: absolute;
    right: 20px;
    bottom: 35px;
    font-size: 2.3rem;
}



.two{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: ce;
    align-content: center;
}

.card{
    background-color: wheat;
    height: 200px;
}

.back-heading{
    position: absolute; 
    opacity: 0.03;
    animation: right 5s infinite linear;
    z-index: -1;
    
}

.block .heading h1{
    letter-spacing: 5px;
}


@keyframes right{
    from{
        transform: translateX(0%);
    }

    to{
        transform: translateX(-10%);
    }
}



.page-nav-bottom-container{
    background-color: #1c1e27;
    color: #9ca1b9;
    position: fixed;
    left: 50%;
    top:91%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    border-radius: 30px;
    justify-content: space-between; 
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.148);
    z-index: 100;
}

.page-nav-bottom-container i{
    font-size: 1.2rem;
    color: #95bdfc;
    transition: all 0.3s ease-in;
    padding: 9px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.page-nav-bottom-container a{
    text-decoration: none;
}

.page-nav-bottom-container i:hover{
    background-image: linear-gradient(120deg, #9ac1ff 0%, #9de0ff 100%);
    box-shadow: 0px 0px 20px #95bcfc85;
        color: #080809b3;
        
}


#about-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.about-container{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    /* gap: 20px; */
    
}

.about-container-left{
    flex: 3;
    object-fit: contain;
   
}


.about-container-left-img{
    height: 100%;
    /* background-color: red; */
}

.about-container-left img{
    border-radius: 30px;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.about-container-right{
    flex: 4;    
    /* background-color: #14171b; */
    padding: 50px 20px 50px 50px;
    

}



.card-box{
    display: flex;
    gap: 20px;
    /* margin-top: -100px; */
    margin-bottom: 40px;
}

.about-container-card{
    background-color: #141c253c;
    border: 1px solid rgba(255, 255, 255, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23%;
    padding: 15px 13px;
    border-radius: 10px;
    gap: 5px;
    cursor: pointer;
    
}

.about-container-card i{
    color: #95bdfc;
    font-size: 1.5rem;
   
}

.para-text{
    width: 75%;
    color: #9ca1b9;
    font-size: 1.1rem;
}

.contact-btn{
    margin-top: 40px;
}

.btn{
    background-color: #95bdfc;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px;
    outline: none;
    border: none;
}

.about-container-card p{
    color: #c7c7c7;
    font-size: 0.9rem;
}

.about-glow{
    max-width: 100%;
    z-index: -1;
    position: absolute;
}

#about-section h2{
    color: #9ac1ff;
    line-height: 1;
    font-size: 1.5rem;
    text-shadow: 5px 5px 50px rgba(44, 185, 255, 0.137);
    /* transform: rotate(-90deg); */
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#about-section h2 span{
    color: #6d6f79;
    font-weight: 400;
    font-size: 1.1rem;
}


#experience-section{
    height: 80%;
    width: 100%;
    /* border: 1px solid white; */

}

.experience-container{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    flex-direction: column;
    
}

.experience-box{
    border-color: #080809;
    height: 40%;
    width: 80%;
    display: flex;

}

.expericen-left-card{
    flex: 1;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    gap: 40px;

}


.expericen-right-card{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 40px;

}

.col-one{
    display: flex;
    gap: 20px;
    align-items: center;
}

.dot-box{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dot{
    width: 16px;
    height: 16px;
    background-color: #95bcfc6c;
    border-radius: 50%;
    
}

.dot.color{
    background-color: #95bdfc;
    box-shadow: 0 0px 10px #95bcfc77;
}

.experience-dot-box{
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.experience-name{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-name p{
    font-size: 1.3rem;
    font-weight: 200;
    
}

.glow-img-two{
    position: absolute;
    /* left: 0; */
    max-width: 100%;
}


.text-NEW{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 10px; */
    margin-left: -60px;
    margin-bottom: 30px;
    color: #95bdfc;
    font-weight: 300;
    font-size: 2.5rem;
    font-weight: 600;
}

.text-NEW span{
    color: rgb(157, 152, 152);
    font-size: 1.3rem;
    font-weight: 300;
}


#project-section{
    height: 100vh;
    display: flex;
    justify-content: centere;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.project-container{
 
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 90px;
}  

.text-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: 20px;
    /* margin-left: -190px; */
    justify-content: center;
}

.text-two span{
    color: #6d6f79;
    font-weight: 300;
    font-size: 1.3rem;
}

.text-two{
    font-size: 2rem;
    margin-top: -60px;
    color: #95bdfc;
}

.project-container-box{
    display: flex;
    gap: 30px;

}


.project-box{
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 30px;
    /* margin-bottom: 100px; */
}


.project-box::-webkit-scrollbar{
    display: none;
}

.project-card{
    background-color: #9ac1ff07;
    border: 1px solid rgba(152, 202, 255, 0.132);
    width: 320px;
    padding: 20px;
    border-radius: 10px;

}

.project-img{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.project-img img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}


.project-card h2{
    font-size: 1.2rem;
    font-weight: 200;
    
}


.project-card p{
    font-size: 0.9rem;
    width: 100%;
    margin: 8px 0;
    color: #8d8f98;
}

.project-card a{
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 10px;
    color: var(--blue-color);
}

.project-container .arrow-btn{
    font-size: 5rem;
    color: #95bdfc;
    cursor: pointer;
}

.glow-img-three{
    z-index: -1;
    position: absolute;
    max-width: 100%;
}



#contact-section{
    height: 100%;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container{
    width: 100%;
    height: 85%;
    display: flex;
    /* border: 1px solid white; */
}

.contact-container-left{
    flex: 2;

    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* padding: 100PX; */
    padding-left: 200px;
    gap: 20PX;
    
}

.box-contact{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-container-left-one{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.contact-container-right{
    flex: 3;
  

}

.contact-form{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    
}

.contact-form input{
padding: 13px 200px 13px 10px;
border-radius: 5px;
/* border: none; */
    /* outline: none; */
    background: none;
    border: 1px solid #95bdfc;
    color: white;
}


.contact-form textarea{
    border: 1px solid #95bdfc;
    background: none;
    width: 370px;
    max-width: 380px;
    max-height: 400px;
    color: white;
    outline: none;
    padding: 16px 0 0 10px;
}

.contact-form .btn{
    width: 60%;
    cursor: pointer;
}

.contact-form .btn:hover{
    background-color: #6593dd;
    color: white;
}

.box-contact span{
    color: #6d6f79;
    
}

.text-five{
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.five-six{
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    gap: 8px;
}


.contact-btn a{
    text-decoration: none;
}

.box-contact span{
    margin-bottom: 5px;
}


form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}


.back-heading.active {
    position: absolute;
    opacity: 0.4;
    animation: right 5s infinite linear;
    z-index: -1;
}


#about-section h2.active {
    color: #172d50;
    
}


.about-container-card.active{
    background-color: #172d50;
}

.contact-btn a.active{
    color: #080809;
}

.text-NEW.active{
    color: #080809;
}


.dot.active{
    background-color: #7f7f7fb8;
}

.dot.color.active{
    background-color: #3066bc;
}

.experience-name p.active{
    color: #080809;
}

.project-card.active{
    background-color: #ccd9ed17;
    border: 1px solid rgb(152 202 255 / 69%);
}

.project-card h2.active {
    font-size: 1.2rem;
    font-weight: 400;
    color: #025f97;
}

.project-card a.active{
    color: #6e82a4;
}


.text-five.active {
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #0b3c76;
}
.five-six.active{
    color: #0b3c76;
}

.box-contact p.active{
    color: #6d6f79;
}

.box-contact span.active {
    margin-bottom: 5px;
    color: black;
    font-weight: 500;
}